@model List<CMDB.Models.DBEntities.Accessories>
@using CMDB.ViewModels

@{
	var pager = (PagerViewModel)ViewData["Pager"];
}

<h1>Accessories</h1>
<div class="d-flex justify-content-between mb-3">
	@if (User.IsInRole("Admin"))
	{
		<a asp-action="Create" asp-controller="Accessories" class="btn btn-primary mb-3"><i class="fas fa-plus"></i> Create
			Accessory</a>
	}
	@Html.Partial("_PageSizeForm", pager)
</div>

<table id="animated-table" class="table table-responsive table-hover table-bordered">
	<thead>
		<tr class="table-active">
			<th>AccessoryID</th>
			<th>Name</th>
			<th>Type</th>
			<th>Manufacturer</th>
			<th>Serial Number</th>
			<th>Purchase Date</th>
			<th>Warranty Expiration</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			@foreach (var accessory in Model)
			{
				<tr>
					<td>@accessory.AccessoryID</td>
					<td>@accessory.Name</td>
					<td>@accessory.Type</td>
					<td>@accessory.Manufacturer</td>
					<td>@accessory.SerialNumber</td>
					<td>@accessory.PurchaseDate.ToString("yyyy-MM-dd")</td>
					<td>@accessory.WarrantyExpiration.ToString("yyyy-MM-dd")</td>
					<td>
						<a asp-controller="Accessories" asp-action="Details" asp-route-id="@accessory.AccessoryID"
							class="btn btn-primary btn-sm">
							<i class="fa-solid fa-circle-info"></i> Details
						</a>
						@if (User.IsInRole("Admin"))
						{
							<a asp-controller="Accessories" asp-action="Edit" asp-route-id="@accessory.AccessoryID"
								class="btn btn-warning btn-sm">
								<i class="fas fa-edit"></i> Edit
							</a>
							<button data-url="@Url.Action("DeleteConfirmed", "Accessories")" type="button"
								class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
								data-id="@accessory.AccessoryID">
								<i class="fa-solid fa-trash"></i> Delete
							</button>
						}
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="8">
					<div>
						No Accessories available at this moment!
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<!-- Render partial pager -->
@Html.Partial("_Pager", pager)
