@model List< CMDB.Models.TelefonyViewModel>

@{
	ViewData["Title"] = "Phones Details";
	var successMessage = TempData["successMessage"]?.ToString();
	var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
@if (!string.IsNullOrWhiteSpace(successMessage))
{
	<div class="alert alert-success">
		<strong>Success! </strong>@successMessage
		<button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
	</div>

}

else if (!string.IsNullOrWhiteSpace(errorMessage))
{
	<div class="alert alert-danger">
		<strong>Error! </strong>@errorMessage
		<button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
	</div>

}
<form>
	<button asp-action="Create" asp-controller="Phones" class="btn btn-primary mb-3">Create Employee</button>
	<table id="animated-table" class="table table-responsive table-hover table-bordered">
		<thead>
			<tr class="table-active">
				<th>TelefonID</th>
				<th>NumerTelefonu</th>
				<th>Typ</th>
				<th>Producent</th>
				<th>DataZakupu</th>
				<th>PracownikID</th>
				<th>Akcje</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				@foreach (var phone in Model)
				{
					<tr>
						<td>@phone.TelefonID</td>
						<td>@phone.NumerTelefonu</td>
						<td>@phone.Typ</td>
						<td>@phone.Producent</td>
						<td>@phone.DataZakupu</td>
						<td>@phone.PracownikID</td>
						<td>
							<div class="btnbtn-group btn-group-sm">
								<a asp-controller="Phones" asp-action="Edit" asp-route-id="@phone.TelefonID" class="btn btn-primary">Edit</a>
								<a asp-controller="Phones" asp-action="Details" asp-route-id="@phone.TelefonID" class="btn btn-primary">Details</a>
								<a asp-controller="Phones" asp-action="Delete" asp-route-id="@phone.TelefonID" class="btn btn-danger">Delete</a>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="6">
						<div>
							No Employees available at this moment!
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>