@model List< CMDB.Models.AkcesoriaKomputeroweViewModel>

@{
	ViewData["Title"] = "Accessories Details";
	var successMessage = TempData["successMessage"]?.ToString();
	var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
@if(!string.IsNullOrWhiteSpace(successMessage))
{
<div class="alert alert-success">
	<strong>Success! </strong>@successMessage
<button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
</div>
	
}

else if (!string.IsNullOrWhiteSpace(errorMessage))
{
	<div class="alert alert-danger">
		<strong>Error! </strong>@errorMessage
	<button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
	</div>

}
<form>
	<button asp-action="Create" asp-controller="Accessories" class="btn btn-primary mb-3">Create Accessory</button>
	<table class="table table-responsive table-hover table-bordered">
		<thead>
			<tr class="table-active">
				<th>AkcesoriumID</th>
				<th>Nazwa</th>
				<th>Typ</th>
				<th>Producent</th>
				<th>DataZakupu</th>
				<th>PracownikID</th>
				<th>Akcje</th>
			</tr>
		</thead>
		<tbody>
			@if(Model != null && Model.Any())
			{
				@foreach (var accessory in Model)
				{
					<tr>
						<td>@accessory.AkcesoriumID</td>
						<td>@accessory.Nazwa</td>
						<td>@accessory.Typ</td>
						<td>@accessory.Producent</td>
						<td>@accessory.DataZakupu</td>
						<td>@accessory.PracownikID</td>
						<td>
							<div class="btnbtn-group btn-group-sm">
								<a asp-controller="Accessories" asp-action="Edit" asp-route-id="@accessory.AkcesoriumID" class="btn btn-primary">Edit</a>
								<a asp-controller="Accessories" asp-action="Details" asp-route-id="@accessory.AkcesoriumID" class="btn btn-primary">Details</a>
								<a asp-controller="Accessories" asp-action="Delete" asp-route-id="@accessory.AkcesoriumID" class="btn btn-danger">Delete</a>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="6">
						<div>
							No Accessories available at this moment!
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>