@model IEnumerable<CMDB.Models.DBEntities.AkcesoriaKomputerowe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataZakupu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracownikID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZakupu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracownikID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AkcesoriumID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AkcesoriumID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AkcesoriumID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
