@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h2>Users</h2>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <button data-url="@Url.Action("DeleteConfirmed", "User")" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@user.Id">Delete</button>
                    <a href="/User/AssignRole?userId=@user.Id" class="btn btn-info btn-sm">
                        <i class="fas fa-user-tag"></i> Assign Role
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/User/Create" class="btn btn-success">
    <i class="fas fa-user-plus"></i> Create New User
</a>
