@model List<CMDB.Models.DBEntities.Servers>
@using CMDB.ViewModels

@{
    var pager = (PagerViewModel)ViewData["Pager"];
}

<h1>Servers</h1>

<div class="d-flex justify-content-between mb-3">
    	@if (User.IsInRole("Admin"))
	{
    <a asp-action="Create" asp-controller="Servers" class="btn btn-primary mb-3">
        <i class="fas fa-plus"></i> Create Server</a>
        }
    @Html.Partial("_PageSizeForm", pager)
</div>

<table id="animated-table" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr class="table-active">
            <th>Server ID</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Operating System</th>
            <th>IP Address</th>
            <th>RAM</th>
            <th>CPU</th>
            <th>Storage</th>
            <th>Purchase Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var server in Model)
            {
                <tr>
                    <td>@server.ServerID</td>
                    <td>@server.Name</td>
                    <td>@server.Manufacturer</td>
                    <td>@server.Model</td>
                    <td>@server.OperatingSystem</td>
                    <td>@server.IPAddress</td>
                    <td>@server.RAM GB</td>
                    <td>@server.CPU Cores</td>
                    <td>@server.Storage GB</td>
                    <td>@server.PurchaseDate.ToString("yyyy-MM-dd")</td>
                    <td>
                            <a asp-controller="Servers" asp-action="Details" asp-route-id="@server.ServerID"
                                class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info"></i> Details</a>
                                	@if (User.IsInRole("Admin"))
	{
                            <a asp-controller="Servers" asp-action="Edit" asp-route-id="@server.ServerID"
                                class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Edit</a>
                            <button data-url="@Url.Action("DeleteConfirmed", "Servers")" type="button"
                                class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                data-id="@server.ServerID"><i class="fa-solid fa-trash"></i> Delete</button>
                                }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11">
                    <div>
                        No servers available at this moment!
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Render partial pager -->
@Html.Partial("_Pager", pager)
