@model CMDB.ViewModels.PagerViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.Routing
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    var urlHelper = ((IUrlHelperFactory)ViewContext.HttpContext.RequestServices.GetService(typeof(IUrlHelperFactory)))
        .GetUrlHelper(ViewContext);
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@urlHelper.Action(ViewContext.RouteData.Values["action"].ToString(), new { page = Model.PageNumber - 1, pageSize = Model.PageSize })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                <a class="page-link" href="@urlHelper.Action(ViewContext.RouteData.Values["action"].ToString(), new { page = i, pageSize = Model.PageSize })">@i</a>
            </li>
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@urlHelper.Action(ViewContext.RouteData.Values["action"].ToString(), new { page = Model.PageNumber + 1, pageSize = Model.PageSize })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
