
@model List<CMDB.Models.DBEntities.Phones>
@using CMDB.ViewModels

@{
    ViewData["Title"] = "Phone Details";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
    var pager = (PagerViewModel)ViewData["Pager"];
}

<h3>@ViewData["Title"]</h3>

    <div class="d-flex justify-content-between mb-3">
          <a asp-action="Create" asp-controller="Phones" class="btn btn-primary mb-3">Create Phone</a>
        @Html.Partial("_PageSizeForm", pager)
    </div>

    <table id="animated-table" class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th>PhoneID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var phone in Model)
                {
                    <tr>
                        <td>@phone.PhoneID</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Phones" asp-action="Edit" asp-route-id="@phone.PhoneID"
                                    class="btn btn-primary">Edit</a>
                                <a asp-controller="Phones" asp-action="Details" asp-route-id="@phone.PhoneID"
                                    class="btn btn-primary">Details</a>
                                <button data-url="@Url.Action("DeleteConfirmed", "Phones")" type="button"
                                    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    data-id="@phone.PhoneID">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">
                        <div>
                            No Phones available at this moment!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<!-- Render partial pager -->
@Html.Partial("_Pager", pager)