@model List<CMDB.Models.DBEntities.Phones>
@using CMDB.ViewModels

@{
    ViewData["Title"] = "Phone Details";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
    var pager = (PagerViewModel)ViewData["Pager"];
}

<h3>@ViewData["Title"]</h3>

<div class="d-flex justify-content-between mb-3">
    <a asp-action="Create" asp-controller="Phones" class="btn btn-primary mb-3"><i class="fas fa-plus"></i> Create Phone</a>
    @Html.Partial("_PageSizeForm", pager)
</div>

<table id="animated-table" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr class="table-active">
            <th>PhoneID</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Operating System</th>
            <th>Phone Number</th>
            <th>Storage</th>
            <th>Screen Size</th>
            <th>Purchase Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var phone in Model)
            {
                <tr>
                    <td>@phone.PhoneID</td>
                    <td>@phone.Name</td>
                    <td>@phone.Manufacturer</td>
                    <td>@phone.Model</td>
                    <td>@phone.OperatingSystem</td>
                    <td>@phone.PhoneNumber</td>
                    <td>@phone.Storage GB</td>
                    <td>@phone.ScreenSize inches</td>
                    <td>@phone.PurchaseDate.ToString("yyyy-MM-dd")</td>
                    <td>
                            <a asp-controller="Phones" asp-action="Details" asp-route-id="@phone.PhoneID"
                                class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info"></i> Details</a>
                            <a asp-controller="Phones" asp-action="Edit" asp-route-id="@phone.PhoneID"
                                class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Edit</a>
                            <button data-url="@Url.Action("DeleteConfirmed", "Phones")" type="button"
                                class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                data-id="@phone.PhoneID"><i class="fa-solid fa-trash"></i> Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10">
                    <div>
                        No Phones available at this moment!
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Render partial pager -->
@Html.Partial("_Pager", pager)
