@model List<CMDB.Models.PracownicyViewModel>

@{
    ViewData["Title"] = "Employee Details";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Success! </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
<form>
    <button asp-action="Create" asp-controller="Employees" class="btn btn-primary mb-3">Create Employee</button>
    <table id="animated-table" class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th>PracownikID</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Stanowisko</th>
                <th>Data Zatrudnienia</th>
                <th>Telefon</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.PracownikID</td>
                        <td>@employee.Imie</td>
                        <td>@employee.Nazwisko</td>
                        <td>@employee.Stanowisko</td>
                        <td>@employee.DataZatrudnienia</td>
                        <td>@employee.Telefon</td>
                        <td>
                            <div class="btn btn-group btn-group-sm">
                                <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.PracownikID" class="btn btn-primary">Edit</a>
                                <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.PracownikID" class="btn btn-primary">Details</a>
                                <a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.PracownikID" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No Employees available at this moment!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>